@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ===== TITLE ===== */
#forum {
  margin: 100px 40px 40px !important;
  background: linear-gradient(to bottom right, #ff6239 0%, #dc6239 94%);
  transform: skew(-15deg);
  font-family: "Poppins", sans-serif;
  color: #f7f6f2;
  border-radius: 48px;
}
.leftBan {
  display: none;
}
.content-header {
  padding: 28px 0px;
}
.yvm {
  font-size: 16px;
  margin-left: 38px;
  padding-bottom: 4px;
}
.wdyt {
  font-size: 38px;
  font-weight: 900;
  margin-left: 48px;
}
.decs-header {
  font-size: 14px;
  margin-left: 62px;
}
.yvm,
.wdyt,
.decs-header {
  margin-bottom: 0px;
  transform: skew(15deg) !important;
}
.img-header {
  padding: 14px 0px;
  margin-left: -8px;
}
.wytd-img {
  width: 84%;
  transform: skew(15deg) !important;
  padding: 0px !important;
}

#content-forum {
  margin-bottom: 54px;
  height: 54vh;
}

/* ===== IMAGE ===== */
#image-cat {
  padding: 0px;
}
.picture {
  height: 100%;
  background: linear-gradient(to bottom, #ffffff 0%, #202020 54%);
}
.picture img {
  opacity: 0.6;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.picture,
.picture img {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

/* CONTENT */
#contentCard {
  width: 83.3%;
  height: 100%;
  padding: 18px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}
.hutan #contentCard {
  background-color: #aec183;
}
.energi #contentCard {
  background-color: #d1ac94;
}
.plastik #contentCard {
  background-color: #bec1c9;
}
.laut #contentCard {
  background-color: #b7dae0;
}

/* DECS */
.text-cat {
  width: 86% !important;
  text-align: center;
  color: #f7f6f2;
  position: sticky;
  margin-top: -58%;
  margin-left: 16px;
}
.categories {
  font-weight: 400;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}
.sub {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}
.categories,
.seeMore {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
}
.text-cat a {
  text-decoration: none !important;
}
.seeMore {
  color: #f7f6f2;
  margin-top: 8px;
  border: 1px solid #f7f6f2;
  border-radius: 4px;
  width: 82%;
  margin-left: 16px;
  padding: 4px 0px 2px;
  font-size: 10px;
  font-weight: 400;
  cursor: pointer;
}

/* ===== CARD ===== */
.card-forum {
  width: 35%;
  height: 48vh;
  margin: 4px 10px 8px;
}
#cardFI .card {
  padding: 10px;
  border-radius: 8px;
}
/* Image */
#cardFI .card-img-top {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: 24vh;
}

/* Body */
#cardFI .card-body {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin-top: 20px;
}
#cardFI .card-title {
  font-size: 16px;
  font-weight: 700;
}
#cForum .card-title {
  margin-bottom: 6px;
}
#cForum .card-text {
  margin-bottom: 12px;
}
#cardFI p {
  font-size: 12px;
}

/* Button */
.btn-warning {
  font-family: "Rubik", sans-serif !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  text-transform: uppercase !important;
  color: #fcfcfc !important;
  border-color: #ff6239 !important;
  background-color: #ff6239 !important;
  border-radius: 12px !important;
}
#btn-issue {
  width: 100%;
  padding: 4px 18px 2px;
  margin-bottom: 4px;
  letter-spacing: 1px;
}
.btn-warning.active:focus {
  box-shadow: 0 0 0 0.25rem rgb(227 125 15 / 50%) !important;
  border-color: none !important;
}
.btn-warning:hover {
  background-color: #ffb039 !important;
  border-color: #ffb039 !important;
  color: #fcfcfc !important;
}

@media only screen and (min-width: 381px) and (max-width: 768px) {
  #forum {
    display: block;
    text-align: center;
    margin: 0px;
    padding: 24px 42px;
  }
  .leftBan {
    display: block;
  }
  .rightBan {
    display: none;
  }
  .img-header {
    width: 100% !important;
  }
  .wdyt {
    font-size: 34px;
    padding-bottom: 12px;
  }
  .wytd-img {
    width: 54%;
  }
  .content-header {
    width: 100% !important;
    padding: 0px;
    margin: 0px;
  }
  .content-header p {
    margin-left: 0px !important;
  }

  /* Categories */
  .text-cat {
    margin-top: -20%;
    margin-left: 12%;
    width: 74% !important;
  }
  .picture {
    height: 20%;
  }
  .sub {
    margin: 4px 0px 12px;
  }

  #content-forum {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    height: 198px;
  }
  #image-cat {
    padding-left: 0px;
    text-align: center;
  }
  .picture,
  .picture img {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 14px;
  }
  .seeMore {
    width: 42%;
    padding: 4px 0px 2px;
    margin-left: 28%;
  }

  #cardForum .card {
    margin: 12px 16px;
  }
  #cardForum .fav {
    bottom: 158px;
  }
}
@media only screen and (max-width: 380px) {
}
