@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#bodyOwl {
  margin-top: 64px;
}
.owl-theme .owl-nav {
  margin-top: -24px;
  margin-left: 34px;
}
.owl-carousel .owl-item img {
  height: 58vh !important;
  object-fit: cover !important;
}
.owl-carousel .owl-nav button.owl-prev {
  margin-right: 94px;
  color: #ff6239;
}
.owl-carousel .owl-nav button.owl-next {
  margin-left: 384px;
  color: #ff6239;
}
.owl-prev span,
.owl-next span {
  font-size: 94px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
  color: #ffb039;
}

.owl-theme .owl-dots {
  margin-top: -74px;
}
.owl-carousel button.owl-dot {
  margin-left: 24px;
}
.owl-theme .owl-dots .owl-dot span {
  width: 24px;
  height: 6px;
  background: #ff6139e5;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: #faad3bea;
}

@media only screen and (min-width: 381px) and (max-width: 768px) {
  .owl-theme .owl-nav {
    margin-left: 0px;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 18px;
    height: 4px;
    background: #ff6139e5;
  }
  .owl-carousel button.owl-dot {
    margin-left: 16px;
  }
}

@media only screen and (max-width: 380px) {
  #tanamPohon {
    padding: 0px 0px 164px;
  }
  /* Header */
  .header {
    padding: 114px 0 38px;
  }
  #polaroid {
    margin-right: 0px;
  }
  #polaroid img {
    height: 42vh;
  }
  #btn-home {
    width: 74%;
    font-size: 14px;
  }
  .header #headlineWH {
    font-size: 34px;
  }

  /* Forum */
  .carousel-inner {
    width: 62vh;
  }
  #carousel .carousel-control-prev-icon,
  #carousel .carousel-control-next-icon {
    padding: 14px;
    margin: 0px;
  }
  #carousel .carousel-control-prev,
  #carousel .carousel-control-next {
    margin: -24px;
  }
  #carousel h5 {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: -32px;
  }
  #carousel p {
    display: none;
  }
  .carousel-caption {
    bottom: -3.75rem;
  }

  #firstHome {
    font-size: 14px;
    margin-bottom: -8px;
  }
  #secondHome {
    font-size: 28px;
  }
  #thirdHome {
    padding: 0px 14px;
    font-size: 12px;
  }
  #forum-home #btn-home {
    width: 72%;
  }
  #btn-home {
    width: 78%;
    font-size: 12px;
  }
  #decsWH {
    margin-top: 24px;
    font-size: 14px;
    margin-bottom: 0px;
  }
  .owl-dot,
  .owl-nav {
    display: none;
  }
  #board-home {
    margin-top: 60px;
  }
}
