@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Filter */
#issues-filter {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  margin-top: 52px;
  font-weight: 500;
  letter-spacing: 2px;
}
#issues-filter .nav-item {
  margin: 0px 28px;
}
#link-issues {
  background: linear-gradient(to right, #6cb146 0%, #9ecc85 100%);
  text-decoration: none;
  padding: 12px 134px 18px 28px;
  border-radius: 28px;
  color: #fcfcfc;
}

/*  Card  */
.card-issue .card {
  margin: 8px;
}
.card-issue .fav {
  bottom: 164px;
}
.card-issue .card-img-top {
  height: 172px;
}
.card-issue .card-text {
  margin-bottom: 0px;
}
.card-issue .comment {
  margin: 4px 0px 12px;
}
.icon-com {
  color: #10550f;
  font-size: 16px;
  margin-top: -4px;
}
.context {
  padding-left: 8px;
  font-size: 12px;
}

/* ===== Detail Issue ===== */
#issue {
  margin-top: 120px;
}
.content-issue {
  box-shadow: 8px 10px 8px 0px rgb(197 202 204);
}
.content-issue,
#inputCom {
  border-radius: 14px;
  border: 1px solid #10550f96;
  background-color: #ffffff;
}
#contentIssue {
  height: 114vh;
}
/* --- Left --- */
#picsIssue {
  padding-right: 0px;
}
#imgCI {
  border-top-left-radius: 14px;
  object-fit: cover;
  width: 100%;
  height: 114vh;
}

/* --- Right --- */
#descIssue {
  padding: 24px 48px 0px;
}
.yvmBan,
.decsBan,
.catCI,
.dateCI,
.decsCI,
.secondCom,
#inputCom,
#dropItem {
  font-family: "Poppins", sans-serif;
}
.titleCI,
.decsCI,
.firstCom,
.secondCom,
#inputCom,
#dropItem {
  color: #232825;
}
.catCI {
  border-left: 4px solid #10550f;
  color: #10550f;
  padding-left: 8px;
  font-size: 20px;
  font-weight: 600;
}
.titleCI {
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  font-size: 32px;
}
.dateCI {
  color: #ff6239;
  font-size: 16px;
}
.decsCI {
  font-size: 14px;
}
/* Button */
#buttonIssue {
  display: flex;
  justify-content: end;
  margin-top: 24px;
  margin-right: 36px;
}
#btn-fav {
  width: 24%;
  padding: 6px 0px 4px;
  margin-bottom: 4px;
  letter-spacing: 2px;
}

/* --- Comments --- */
#comment {
  padding: 24px;
}
.firstCom {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.secondCom {
  border-bottom: 2px solid #232825;
  width: 9%;
  padding-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
}

/* User */
.formCom {
  display: flex;
  flex-wrap: wrap;
}
#formCom1 {
  align-items: center;
  margin: 24px 0px;
}
#formCom2,
#formCom3 {
  align-items: flex-start;
}
.repCom {
  justify-content: end;
  margin-right: 12px;
}
#avaCom {
  margin-left: 8px;
  width: 58px;
}
#inputCom {
  width: 86%;
  margin: 0px 16px;
  font-size: 14px;
  box-shadow: 2px 2px 2px 0px rgb(197 202 204);
  padding: 10px 16px;
}
.upperCom {
  margin-bottom: 4px;
}

/* btnUser */
.btnSC {
  border: 4px solid #10550f;
  border-radius: 50px;
  padding: 4px;
  cursor: pointer;
}
.btnSC:hover {
  border-color: #117c10;
}
#btnUser {
  font-size: 28px;
  color: #10550f;
  margin: 2px 0px 1px 4px;
  justify-content: end;
}
#btnUser:hover {
  color: #117c10;
}

/* --- FillComment --- */
.infoCom,
.decsCom {
  margin-left: 4px;
}
.infoCom {
  display: flex;
  justify-content: space-between;
}
.decsCom {
  margin-bottom: 10px;
}
.nameCom {
  margin-right: 14px;
  font-weight: 700;
}
#dropdownCom {
  border: none;
  background: none;
  padding: 0px;
}
#dropMenu {
  min-width: 5rem;
  text-align: center;
  border-radius: 4px;
  padding: 4px 0px;
  border: 1px solid #10550f96;
}
.dropdown-divider {
  border-color: #10550f96 !important;
  margin: 2px 0px !important;
}
#dropItem {
  background-color: #ffffff;
  padding: 0px;
  font-size: 14px;
}
#dropItem:hover {
  color: #10550f;
  font-weight: 500;
}
#iMenu {
  font-size: 18px;
  color: #10550f;
  font-weight: 700;
}
/* Bubble */
.cli {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px 4px 6px;
}

.fillC,
.fillUp,
.fillDown {
  background-color: #9ecc85a8;
  border-radius: 4px;
  padding: 2px 8px;
  cursor: pointer;
}
.fillC:hover,
.fillUp:hover,
.fillDown:hover {
  background-color: #9ecc85;
}
.fillDown {
  margin-left: 14px;
}
.iconCom {
  margin-top: -1px;
}
.countCom {
  margin-left: 6px;
  font-size: 12px;
}
#formCom3 {
  width: 185vh;
  margin: 32px 0px 6px;
}
#formCom3 .cli {
  justify-content: end;
}
/* --- Card ---- */
#issue #cardIssue {
  margin-top: 56px;
}
