@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

/* Text */
.text-content {
  font-family: "Poppins", sans-serif;
  color: #232825;
}
#first {
  font-size: 20px;
  margin-bottom: -12px;
  letter-spacing: 4px;
  font-weight: 600;
}
#second {
  font-size: 42px;
  margin-bottom: 6px;
  font-weight: 700;
}
#third {
  font-size: 14px;
  margin-bottom: 4px;
}

/* Button */
#btn-home {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #10550f;
  border-color: #10550f;
  border-radius: 12px;
  padding: 8px 0px;
  letter-spacing: 2px;
  color: #fcfcfc;
  width: 42%;
}
#btn-home:hover {
  background-color: #0d460c;
  border-color: #0d460c;
}
#btn-home:focus {
  box-shadow: none;
}

/* === Leaderboard === */
#leaderboard {
  margin-top: 64px;
  background-image: url(../image/bg-leaderboard.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  padding: 32px 0px 258px;
}
#leaderboard .text-content {
  width: 52% !important;
}

@media only screen and (min-width: 381px) and (max-width: 768px) {
  #leaderboard .text-content {
    width: 80% !important;
  }
}
@media only screen and (max-width: 380px) {
}
