/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

/* NAVBAR */
nav {
  font-family: "Rubik", sans-serif;
}
.navbar-brand {
  font-weight: 700;
  color: #232323 !important;
  font-size: 24px !important;
  text-transform: uppercase;
}

/* LEFT */
.logo-nav {
  width: 42px;
  margin-right: 12px;
}

/* CENTER */
.navCenter {
  font-size: 18px;
}
.navCenter .nav-link {
  margin: 0px 14px;
  font-weight: 500;
}
.navCenter:hover.active {
  color: #232323 !important;
}

/* RIGHT */
.navRight {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
}
.signup {
  color: #10550f !important;
}
.login {
  border: 2px solid #10550f;
  border-radius: 8px;
  color: #10550f !important;
  padding: 5px 12px 2px !important;
}
.login:hover {
  background-color: #10550f;
  color: white !important;
}

/* TABLET */
@media only screen and (min-width: 381px) and (max-width: 768px) {
  .navbar-collapse {
    text-align: center;
  }
  .login {
    width: 10%;
    margin: 12px 300px;
  }
}

/* MOBILE */
@media only screen and (max-width: 380px) {
  .navbar-collapse {
    text-align: center;
  }
  .login {
    width: 20%;
    margin: 12px 142px;
  }
}
